*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #app{
    min-height: 100vh;
    width: 100vw;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
  .button{
    display: block;
    cursor: pointer;
    padding: 5px;
  }
  #container{
    min-width: 50vw;
    max-width: 98vw;
    display: flex;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #settings{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      background: rgba(255,255,255,0.2);
      color: white;
      padding: 30px;
      
      #break{
        display: flex;
        flex-direction: column;
        
        #break-label{
          font-weight: 1000;
          font-size: 2em;
          padding: 5px;
        }
        #break-control{
          display: flex;
          align-items: center;
          flex-direction: row;
          padding: 5px;
          justify-content: space-evenly;
          #break-decrement{
            font-size: 2em;
          }
          #break-length{
            font-size: 3em;
          }
          #break-increment{
            font-size: 2em;
          }
          &:hover{
            background: rgba(255,255,255,0.2);
          }
        }
      }
      #session{
        display: flex;
        flex-direction: column;
        
        #session-label{
          font-weight: 1000;
          font-size: 2em;
          padding: 5px;
        }
        #session-control{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          #session-decrement{
            font-size: 2em;
          }
          #session-length{
            font-size: 3em;
          }
          #session-increment{
            font-size: 2em;
          }
          &:hover{
            background: rgba(255,255,255,0.2);
          }
        }
      }
    }
    #timer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(255,255,255,0.5);
      width: 100%;
      padding: 10px 20px 10px 20px;
      #timer-label{
        font-weight: 800;
        font-size: 2em;
        padding: 10px;
        color: white;
      }
      #time-left{
        color: white;
        font-size: 6em;
        font-weight: 500;
        border: 1px groove white;
        padding: 20px;
        background: rgba(0,0,0,0.3);
      }
    }
    #controls{
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      background: rgba(255,255,255,0.5);
      width: 100%;
      padding: 40px 20px 10px 20px;
      #start_stop{
        font-size: 3em;
        padding: 10px 20px;
        cursor: pointer;
        margin-right: 5%;
        &:hover{
          background: rgba(0,0,0,0.2);
        }
      }
      #reset{
        font-size: 3em;
        padding: 10px 20px;
        cursor: pointer;
        &:hover{
          background: rgba(0,0,0,0.2);
        }
      }
    }
  }
  